.form__fieldset {
  margin-bottom: 32px;
  border-style: none;
  padding: 0;
}

.form__label {
  padding-bottom: 8px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__input {
  width: 385px;
  height: 60px;
  display: flex;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
  box-sizing: border-box;
}

.form__button {
  margin-bottom: 32px;
  width: 385px;
  height: 60px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background-color: #2f80ed;
  color: #ffffff;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.form__button:hover {
  opacity: 0.7;
}

.form__checkbox {
  display: flex;
  margin-bottom: 120px;
  border-radius: 2px;
}
