.reservation {
  background-image: url(../images/background_reservation.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  background-color: #d9e7ff;
}

.reservation__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reservation__form:last-child {
  margin-bottom: 0;
}

.reservation__title {
  display: flex;
  padding-top: 100px;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 80px;
  font-family: "Inter" Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}
