.menu {
  background-image: url(/images/background_menu.svg);
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: right;
  background-size: auto;
  z-index: 2;
  overflow: hidden;
  position: relative;
}

.menu__title {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  max-width: 780px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.menu__subtitle {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-items: center;
  max-width: 780px;
  margin-top: 24px;
  margin-bottom: 100px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.menu__cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  width: 540px;
  margin-left: 100px;
}

.card__title {
  margin-bottom: 32px;
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}

.card__list {
  list-style: none;
  padding-left: 0px;
}

.card__list-item {
  display: flex;
  align-items: flex-end;
  margin-bottom: 16px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.card__list-divider {
  display: flex;
  flex-grow: 1;
  border-bottom: 1px solid black;
  width: 100%;
}
